.baselineWrapper {
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.baselineToggle {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.grid {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  pointer-events: none;

  background-repeat: repeat;
}
